# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.idea/
**/.venv/
.ideagit su
.venv
Analysis
**/Analysis
Trials
**/Trials
Result
**/Result
**/Results
Backup
**/Backup/

Models

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
Test_Case
Multagent Model
