# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.idea/
**/.venv/
.ideagit su
.venv


Models

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
Test_Case
**/Test_Case/
Multagent Model/
**/Multagent Model/
Analysis
**/Analysis/
Trials/
**/Trials/
Result/
**/Result/
**/Results/
Backup/
**/Backup/
